/* Definindo a codificação */
@charset "UTF-8";

/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}


.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.cabecalho__menu__link:hover {
    color: #22D4FD;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentacao_conteudotitulo {
    padding: 8% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao_conteudo_texto {
    font-family: 'Montserrat'sans-serif;
    font-size: 24px;
}

.titulo-destaque {
    color: #22D4FD;
}

.paragrafo {
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttonenviar:hover {
    background-color: #22D4FD;
}

/* Estilos para a caixa de histórico de chat pg ALEX*/
.response {
    margin: 16px;
    padding: 16px;
    border: 2px solid #22D4FD;
    background-color: #333;
    border-radius: 8px;
    overflow-y: scroll;
    height: 400px;
}

.response p {
    margin: 8px 0;
}

.message {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #22D4FD;
}

.user {
    background-color: #5a5a5a;
}

.bot {
    background-color: #444;
}

.typing-indicator {
    font-size: 14px;
    font-style: italic;
}

/* Estilos para a caixa de entrada de chat pg ALEX*/
.bottom-frame {
    background-color: #333;
    border-top: 2px solid #222;
    padding: 16px;
    text-align: center;
}

.question {
    margin: 0;
    font-size: 20px;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 60%;
    margin: 8px 0;
    background-color: #444;
    color: #F6F6F6;
}

/* Estilos para o footer/rodapé */

.footer {
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}