/* Definindo a codificação e importações úteis */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #00FFFF;
    --cor-quartaria: #333;
    --cor-quintaria: #5a5a5a;
    --cor-sextaria: #444;
    --cor-septuaria: #222;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat'sans-serif;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudotitulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao_links_links:hover {
    background-color: var(--cor-terciaria);
}

.apresentacao_imagem {
    width: 50%;
}

/* Estilos para o footer/rodapé */
.footer {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.imagem_ai {
    width: 32px;
    height: 32px;
    background: url(assets/AI.png);
}

.imagem_analise {
    width: 32px;
    height: 32px;
    background: url(assets/analise_trade.png);
}

.imagem_empresaria {
    width: 32px;
    height: 32px;
    background: url(assets/alexempresaria.png);
}





/* Estilos para a caixa de histórico de chat ALEX pg alex */
.response {
    margin: 16px;
    padding: 16px;
    border: 2px solid var(--cor-terciaria);
    background-color: var(--cor-quartaria);
    border-radius: 8px;
    overflow-y: scroll;
    height: 400px;
}

.response p {
    margin: 8px 0;
}

.message {
    font-size: 1rem;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid var(--cor-terciaria);
}

.user {
    background-color: var(--cor-quintaria);
}

.bot {
    background-color: var(--cor-sextaria);
}

.typing-indicator {
    font-size: 0.88rem;
    font-style: italic;
}

/* Estilos para a caixa de entrada de chat ALEX pg alex */
.bottom-frame {
    background-color: var(--cor-quartaria);
    border-top: 2px solid var(--cor-septuaria);
    padding: 16px;
    text-align: center;
}

.question {
    margin: 0;
    font-size: 1.25rem;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 60%;
    margin: 8px 0;
    background-color: var(--cor-sextaria);
    color: var(--cor-secundaria);
}

.buttonenviar {
    background-color: var(--cor-primaria);
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 35%;
    height: 2%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 1;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.buttonenviar:hover {
    background-color: var(--cor-terciaria);
}

/* Media Query */
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }
}